body{

font-family:Arial;

background:#f1f5f9;

text-align:center;

}



header{

background:#4f46e5;

color:white;

padding:20px;

}



nav a{

color:white;

margin:15px;

text-decoration:none;

}



.post-box,
.profile,
.post,
.form{


background:white;

width:350px;

padding:20px;

margin:20px auto;

border-radius:15px;

box-shadow:0 0 10px gray;

}



input{

width:90%;

padding:10px;

margin:10px;

}



button{


background:#4f46e5;

color:white;

padding:10px;

border:none;

border-radius:5px;

cursor:pointer;


}



.post{

text-align:left;

}
